<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @intervention3.customer_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @intervention3.employee_id %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @intervention3.battery_id %>
</p>

<p>
  <strong>Column:</strong>
  <%= @intervention3.column_id %>
</p>

<%= link_to 'Edit', edit_intervention3_path(@intervention3) %> |
<%= link_to 'Back', intervention3s_path %>
