<p id="notice"><%= notice %></p>

	<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
                            <%= image_tag("rocketelevatorassets/R2.png")%>
						</a>

						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#home">
											HOME
										</a>
									</li>
									
									<li><!-- SERVICES -->
										<a href="#services">
											SERVICES
										</a>
										<ul class="dropdown-menu white-space=nowrap">
											<li><a href="residential.html">Residential</a></li>
											<li><a href="corporate.html">Corporate & Commercial</a></li>
											<li><a href="quote.html">Get A Quote</a></li>
										</ul>
									</li>
									<li><!-- WORK -->
										<a href="#work">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="#contact">
											CONTACT
										</a>
									</li>
									<li><!-- admin -->
										<a href = "/admin">
											ADMIN
										</a>
									</li>
                                    <li><!-- logout -->
									    <% if current_author%>
										    <%= link_to 'SIGN OUT', destroy_author_session_path, method: :delete%>
										<%end%>
										
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
			</div>
				<!-- /Top Nav -->


 
	<%= form_tag createIntervention_path, :id=> 'intervention', multipart: true do %>


 <%# <div class="col-lg-12 col-sm-12"> %>
    <div class="row">
    <div class="col-md-6 text-center selemp">
        <label for="selectemployee">Employee:</label>
        <select id="selectemployee" class="form-control pointer" name="selectemployee">
        <option value="">None</option>
        </select>
    </div>
    <div class="col-md-6 l4 text-center selcust">
	    <label for="selectcustomer">Customer*</label>
        <select id="selectcustomer" class="form-control pointer" name="selectcustomer" required>
        </select>
    </div>
    <div class="col-md-6 text-center selbuild selform">
        <label for="selectbuilding">Building*</label>
        <select id="selectbuilding" class="form-control pointer" name="selectbuilding" required>
        </select>
    </div>
    <div class="col-md-6 text-center selbatt selform">
        <label for="selectbattery">Battery*</label>
        <select id="selectbattery" class="form-control pointer" name="selectbattery" required>
        </select>
    </div>
    <div class="col-md-6 text-center selcol selform">
        <label for="selectcolumn">Column</label>
        <select id="selectcolumn" class="form-control pointer" name="selectcolumn">
        <option value="">None</option>
        </select>
    </div>
    <div class="col-md-6 text-center selelev selform">
        <label for="selectelevator">Elevator</label>
        <select id="selectelevator" class="form-control pointer" name="selectelevator">
        <option value="">None</option>
        </select>
    </div>


    <div class="col-md-12 text-center seldesc">
        <label for="selectdescription">Description</label>
        <input type="text" placeholder="Description here" id="selectdescription" class="form-control pointer" name="selectdescription">
    </div>
    
</div>
</h4>	
<div class="row">
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-red">SUBMIT</button>
    </div>
</div>

<% end %>

<script>

// show and hide
function customerF() {
    $("#selectcustomer").append("<option disabled selected>--Required--</option>")
    <% Customer.all.each do |customer| %>
        $("#selectcustomer").append("<option value='<%=customer.id%>'><%=customer.company_name%></option>")
    <% end %>
};
function employeeF() {
    $("#selectemployee").append("<option value='' selected>None</option>")
    <% Employee.all.each do |employee| %>
        $("#selectemployee").append("<option value='<%=employee.id%>'><%=employee.first_name%> <%=employee.last_name%></option>")
    <% end %>
};

function buildingF() {
    $("#selectbuilding").append("<option disabled selected>--Required--</option>")
    <% Building.all.each do |building| %>
    if ($('#selectcustomer').val() == <%=building.customer_id%>){
        $("#selectbuilding").append("<option value='<%=building.id%>'><%=building.id%></option>")
    }
    <% end %>
};

function batteryF() {
    $("#selectbattery").append("<option disabled selected>--Required--</option>")
    <% Battery.all.each do |battery| %>
    if ($('#selectbuilding').val() == <%=battery.building_id%>){
        $("#selectbattery").append("<option value='<%=battery.id%>'>Battery #<%=battery.id%></option>")
    }
    <% end %>
};

function columnF() {
    $("#selectcolumn").append("<option value='' selected>None</option>")
    <% Column.all.each do |column| %>
    if ($('#selectbattery').val() == <%=column.battery_id%>){
        $("#selectcolumn").append("<option value='<%=column.id%>'>Column #<%=column.id%></option>")
    }
    <% end %>
};

function elevatorF() {
    $("#selectelevator").append("<option value='' selected>None</option>")
    <% Elevator.all.each do |elevator| %>
    if ($('#selectcolumn').val() == <%=elevator.column_id%>){
        $("#selectelevator").append("<option value='<%=elevator.id%>'>Elevator  #<%=elevator.id%></option>")
    }
    <% end %>
};

// clear form
function autoRemove(arg) {
    $(arg).find('option').remove()
};

function autoRemoveAll() {
    $('#intervention').find('option').remove()

};
function clearText() {
        $('#selectdescription').val("")
    }


autoRemoveAll()
clearText()
customerF()
employeeF()

$(".selform").hide()


$('#selectcustomer').change(function(){
    autoRemove('#selectbuilding')
    autoRemove('#selectbattery')
    autoRemove('#selectcolumn')
    autoRemove('#selectelevator')
    $(".selform").hide()
    $(".selbuild").show()
    buildingF()
});

$('#selectbuilding').change(function(){
    autoRemove('#selectbattery')
    autoRemove('#selectcolumn')
    autoRemove('#selectelevator')
    $(".selcol").hide()
    $(".selelev").hide()
    $(".selbatt").show()
    batteryF()
});

$('#selectbattery').change(function(){
    autoRemove('#selectcolumn')
    autoRemove('#selectelevator')
    $(".selelev").hide()
    $(".selcol").show()
    columnF()
});

$('#selectcolumn').change(function(){
    autoRemove('#selectelevator')
    $(".selelev").show()
    elevatorF()
});

</script>